.CardItemDetalle {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  width: 70%;
  display: flex;
  overflow: hidden;
}



@media (max-width: 1270px) {
  .CardItemDetalle {
    display: block;
    width: auto;
  }


  .ItemImg {
    width: 100%;
    height: 90%;
    display: block;
    max-width: 100%;
    margin: 0 auto
  }

}

@media (max-width: 480px) { /* seguir luego   */
  .ItemImg {
    width: 10px;
    height: 10px;
  }
}






.section {
  display: grid;
  margin: 10px 10px;

  
}

.section > * {
  max-width: 100%;
  width: 100%;
}

.ItemHeader {
  font-size: 1.5em;
  margin: 10px 0;
}

.infoDetalle{
text-align: left;

}


.ItemImg {
  width: 700px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}



.infoDetalle {
  margin-bottom: 8px;
}

.ItemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

.ItemFooter ItemCount {
  margin: 0 auto;
}

.Option {
  background-color: #046831cf;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.Option:hover {
  background-color: #143e27cf;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}